/* styles.css */
.p-datatable-gridlines {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    
  }
  
  .p-col {
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .p-datatable tbody tr:nth-child(even) {
    background-color: #f9fafb; /* Color de fondo para filas pares */
  }
  

  
  /* Estilos para modo oscuro */
  .dark .p-datatable tbody tr:nth-child(even) {
    color: #ffffff; 
    background-color: #374151; /* Color de fondo para filas pares en modo oscuro */
  }


.dark .p-datatable  tbody tr td {
    color: #ffffff; /* Color del texto en modo oscuro */
  }

  .dark .p-column-title {
    color: #ffffff; /* Color del texto en modo oscuro */
  }
  
  .dark .p-datatable {
    border-color: #4b5563; /* Color del borde en modo oscuro */
  }

  .p-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #71717a;
    width: 3rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }

  .p-dropdown-items-wrapper {
    overflow: auto;
  }
  .p-dropdown-item {
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .p-dropdown-item-group {
    cursor: auto;
  }
  .p-dropdown-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .p-dropdown-panel .p-dropdown-items {
    padding: 0.25rem 0;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.75rem 1rem;
    border: 0 1px;
    color: #3f3f46;
    background: #ffffff;
    transition: none;
    border-radius: 1%;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-child {
    margin-top: 0;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:last-child {
    margin-bottom: 0;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #00838F;
    background: #ffffff;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: #e5e7eb;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: #18181b;
    background: #e5e7eb;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-dropdown-check-icon {
    position: relative;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    margin: 0;
    padding: 0.75rem 1rem;
    color: #3f3f46;
    background: #ffffff;
    font-weight: 600;
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    padding: 0.75rem 1rem;
    color: #3f3f46;
    background: #ffffff;
  }

  .p-dropdown-item-group {
    cursor: auto;
  }
  .p-dropdown-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }


  .p-fluid .p-dropdown {
    display: flex;
  }
  .p-fluid .p-dropdown .p-dropdown-label {
    width: 1%;
  }
  .p-dropdown {
    margin-top: 2px;
    background: transparent;
    border: 1px solid #d4d4d8;
    transition: none;
    border-radius: 0.375rem;
    outline-color: transparent;
  }
  .p-dropdown:not(.p-disabled):hover {
    border-color: #d4d4d8;
  }
  .p-dropdown:not(.p-disabled).p-focus {
    margin-top: 2px;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #d4d4d8;
    border-color: #d4d4d8;
  }
  .p-dropdown.p-variant-filled {
    background: #fafafa;
  }
  .p-dropdown.p-variant-filled:not(.p-disabled):hover {
    background-color: #fafafa;
  }
  .p-dropdown.p-variant-filled:not(.p-disabled).p-focus {
    background-color: #ffffff;
  }
  .p-dropdown.p-variant-filled:not(.p-disabled).p-focus .p-inputtext {
    background-color: transparent;
  }
  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 1.75rem;
  }
  .p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
    color: #00838F;
  }
  .p-dropdown .p-dropdown-label.p-placeholder {
    color: #71717a;
  }
  .p-dropdown .p-dropdown-label:focus, .p-dropdown .p-dropdown-label:enabled:focus {
    outline: 0 none;
    box-shadow: none;
  }
  .p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #71717a;
    width: 3rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
  .p-dropdown .p-dropdown-clear-icon {
    color: #71717a;
    right: 3rem;
  }
  .p-dropdown.p-invalid.p-component {
    border-color: #f0a9a7;
  }
  .p-dropdown-panel {
    background: #ffffff;
    color: #3f3f46;
    border: 0 none;
    border-radius: 0.375rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .p-dropdown-label {
    margin-left: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
  }
 
  .dark .p-dropdown-label {
    margin-left: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    color: #ffffff;
    cursor: pointer;
  }

  .p-paginator .p-paginator-first {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    background-color: transparent;

    color: #a2a2b8;
    min-width: 3rem;
    height: 3rem;
    margin: 0 0 0 -1px;
    transition: none;
    border-radius: 75%;
  }

  .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
  .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
    
    
    border-color: #d4d4d8;
    color: #3f3f46;
  }
  .p-paginator .p-paginator-first {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .p-paginator .p-paginator-last {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }



 /*.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    
    border-color: #eef2ff;
    
  }
  .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    
    border-color: #d4d4d8;
    
  }

  .dark .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    
    border-color: #eef2ff;
    color: #ffffff;
  }

  .dark .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    
    border-color: #d4d4d8;
    color: #ffffff;
  }*/

  .p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent;
   
    color: #71717a;
    min-width: 2rem;
    height: 2rem;
    margin: 0 0 0 1px;
    transition: none;
    border-radius: 75%;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #eef2ff;
    border-color: #eef2ff;
    color: #00838F;
  }
  .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background: #f4f4f5;
    border-color: #d4d4d8;
    color: #3f3f46;
  }

